#main-nav {
  width: 100%;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,78,139,1) 44%, rgba(46,87,98,1) 68%, rgba(52,104,112,1) 81%, rgba(23,107,124,1) 100%);
}
#main-nav ul {
  list-style-type: none;
  display: inline-block;
}
#main-nav ul li {
  float: left;
  margin: 0 5px;
}
#main-nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: .5em;
}
#main-nav ul li a:hover {
  background-color: black;
}

#on-page {
  background-color: black;
}